Disabled/_RecipeSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ApplicationDef">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Application">
          <xs:complexType>
            <xs:all>
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Description" type="xs:string" minOccurs="0" />
              <xs:element name="LocalizedName" type="xs:string" minOccurs="0" />
              <xs:element name="Publisher" type="xs:string" minOccurs="0" />
              <xs:element name="AutoInstall" type="xs:string" minOccurs="0" />
              <xs:element name="UserDocumentation" type="xs:string" minOccurs="0" />
              <xs:element name="Icon" type="xs:string" minOccurs="0" />
              <xs:element name="OptionalReference" type="xs:string" minOccurs="0" />
              <xs:element name="LinkText" type="xs:string" minOccurs="0" />
              <xs:element name="PrivacyUrl" type="xs:string" minOccurs="0" />
              <xs:element name="Owner" type="xs:string" minOccurs="0" />
              <xs:element name="SupportContact" type="xs:string" minOccurs="0" />
              <xs:element name="AdminCategories" type="xs:string" minOccurs="0" />
              <xs:element name="UserCategories" type="xs:string" minOccurs="0" />
              <xs:element name="Keywords" type="xs:string" minOccurs="0" />
              <xs:element name="FeaturedApplication" type="xs:string" minOccurs="0" />
              <xs:element name="DisplaySupersedence" type="xs:string" minOccurs="0" />
              <xs:element name="FolderPath" type="xs:string" minOccurs="0" />
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="Downloads">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Download">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="PrefetchScript" type="xs:string" />
                      <xs:element name="URL" type="xs:string" />
                      <xs:element name="DownloadFileName" type="xs:string" />
                      <xs:element name="Version" />
                      <xs:element name="FullVersion" />
                      <xs:element name="DownloadVersionCheck" type="xs:string" />
                      <xs:element name="ExtraCopyFunctions" type="xs:string" />
                      <xs:element name="AppRepoFolder" type="xs:string" />
                      <xs:element name="RequireHigherVersion" type="xs:string" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="DeploymentType" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DeploymentTypes">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="DeploymentType">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="DeploymentTypeName" type="xs:string" />
                      <xs:element name="InstallationType" type="xs:string" />
                      <xs:element name="Comments" type="xs:string" />
                      <xs:element name="Language" type="xs:string" />
                      <xs:element name="CacheContent" type="xs:string" />
                      <xs:element name="BranchCache" type="xs:string" />
                      <xs:element name="ContentFallback" type="xs:string" />
                      <xs:element name="OnSlowNetwork" type="xs:string" />
                      <xs:element name="InstallProgram" type="xs:string" />
                      <xs:element name="InstallationMSI" type="xs:string" />
                      <xs:element name="UninstallCmd" type="xs:string" />
                      <xs:element name="Force32bit" type="xs:string" />
                      <xs:element name="InstallationBehaviorType" type="xs:string" />
                      <xs:element name="LogonReqType" type="xs:string" />
                      <xs:element name="UninstallContentLocation" type="xs:string" />
                      <xs:element name="UninstallOption" type="xs:string" />
                      <xs:element name="UserInteractionMode" type="xs:string" />
                      <xs:element name="ReqUserInteraction" type="xs:string" />
                      <xs:element name="EstRuntimeMins" type="xs:unsignedByte" />
                      <xs:element name="MaxRuntimeMins" type="xs:unsignedByte" />
                      <xs:element name="RebootBehavior" type="xs:string" />
                      <xs:element name="DetectionMethodType" type="xs:string" />
                      <xs:element name="ScriptLanguage" type="xs:string" />
                      <xs:element name="DetectionMethod" type="xs:string" />
                      <xs:element name="CustomDetectionMethods">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="DetectionClause">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:choice maxOccurs="unbounded">
                                    <xs:element name="DetectionClauseType" type="xs:string" />
                                    <xs:element name="Hive" type="xs:string" />
                                    <xs:element name="KeyName" type="xs:string" />
                                    <xs:element name="ValueName" type="xs:string" />
                                    <xs:element name="Name" type="xs:string" />
                                    <xs:element name="Path" type="xs:string" />
                                    <xs:element name="PropertyType" type="xs:string" />
                                    <xs:element name="ExpectedValue" type="xs:string" />
                                    <xs:element name="ExpressionOperator" type="xs:string" />
                                    <xs:element name="Value" type="xs:string" />
                                    <xs:element name="Is64Bit" type="xs:string" />
                                    <xs:element name="Existence" type="xs:string" />
                                  </xs:choice>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="RequirementsRules">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="RequirementsRule">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="RequirementsRuleType" type="xs:string" />
                                  <xs:element name="RequirementsRuleValue">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="RuleValue" type="xs:string" />
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" name="RequirementsRuleOperator" type="xs:string" />
                                  <xs:element minOccurs="0" name="RequirementsRuleGlobalCondition" type="xs:string" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="InstallBehavior">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="InstallBehaviorProcess">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="InstallBehaviorExe" type="xs:string" />
                                </xs:sequence>
                                <xs:attribute name="DisplayName" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="Dependencies">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="DependencyGroup">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="DependencyGroupApp">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element minOccurs="0" name="DependencyDepType" type="xs:string" />
                                        <xs:element name="DependencyAutoInstall" type="xs:string" />
                                      </xs:sequence>
                                      <xs:attribute name="AppName" type="xs:string" use="required" />
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                                <xs:attribute name="GroupName" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="Requirements">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="RuleName" type="xs:string" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="Uninstallcmd" type="xs:string" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Distribution">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DistributeContent" type="xs:string" />
              <xs:element minOccurs="0" name="DistributeToGroup" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Deployment" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DeploySoftware" type="xs:string" />
              <xs:element name="UpdateSuperseded" type="xs:string" />
              <xs:element name="AvailableOffset" type="xs:string" />
              <xs:element name="DeadlineOffset" type="xs:string" />
              <xs:element name="TimeBaseOn" type="xs:string" />
              <xs:element minOccurs="0" name="DeploymentCollection" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
